.vep
.biodbhts
.gnomADg
.egenome
.maxentscan
.loftool
.exacpli
.mpc
vep/sites.bcf
vep/sites.bcf.csi
src/vepcache
src/BioDbBuild/
src/nRex
refpanel/

*.*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
