[submodule "src/samtools"]
	path = src/samtools
	url = https://github.com/samtools/samtools.git
	ignore = dirty
[submodule "src/freebayes"]
	path = src/freebayes
	url = https://github.com/ekg/freebayes.git
	ignore = dirty
[submodule "src/bwa"]
	path = src/bwa
	url = https://github.com/lh3/bwa.git
	ignore = dirty
[submodule "src/vep"]
	path = src/vep
	url = https://github.com/Ensembl/ensembl-vep.git
	ignore = dirty
[submodule "src/vt"]
	path = src/vt
	url = https://github.com/atks/vt.git
