[submodule "src/picard"]
	path = src/picard
	url = https://github.com/broadinstitute/picard.git
	ignore = dirty
[submodule "src/htslib"]
	path = src/htslib
	url = https://github.com/samtools/htslib.git
	ignore = dirty
[submodule "src/bcftools"]
	path = src/bcftools
	url = https://github.com/samtools/bcftools.git
	ignore = dirty
[submodule "src/samtools"]
	path = src/samtools
	url = https://github.com/samtools/samtools.git
	ignore = dirty
[submodule "src/freebayes"]
	path = src/freebayes
	url = https://github.com/ekg/freebayes.git
	ignore = dirty
[submodule "src/bamaddrg"]
	path = src/bamaddrg
	url = https://github.com/ekg/bamaddrg.git
	ignore = dirty
